body {
  position: relative;
}
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  color: #564ac4;
}
button {
  color: #6b5fd0;
  border: 0px;
  background: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 18px;
  width: 100%;
  height: 50px;
  box-shadow: #bababa 0 0 15px;
}
input,
select {
  margin-bottom: 15px;
  border: 1px solid #bababa;
  width: 260px;
}

/* navi isNotLogIn setting */
.navi {
  width: 100%;
  height: 50px;
  background-color: #313131;
  text-align: center;
}
.navi .title {
  display: inline-block;
  margin-top: 8px;
}
.navi .title a {
  color: white;
  text-decoration: none;
}
.nav-ul {
  position: absolute;
  display: inline-block;
  padding-top: 10px;
  right: 0;
}
.nav-ul li {
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  height: 25px;
  margin-right: 15px;
}
.nav-ul li:first-child {
  border-right: solid 1px white;
  padding-right: 15px;
}
.nav-ul li a {
  color: white;
  text-decoration: none;
}
.nav-ul-login {
  padding-top: 0;
}
.nav-ul-login li button {
  color: white;
  background: none;
  font-size: 16px;
  font-weight: 300;
  box-shadow: none;
}

/* menu setting */
.menu-body {
  margin: 20px 0 40px 0;
  text-align: center;
}
.bootcamp-list button {
  margin: 20px;
  font-size: 20px;
}
.bootcamp-list button:last-child {
  margin-right: 0;
}
.menu-body button:first-child {
  color: white;
  border: 2px #6b5fd0 solid;
  background: #6b5fd0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: none;
  width: 200px;
}
.menu-body button {
  width: 200px;
  color: #6b5fd0;
  border: 2px #6b5fd0 solid;
  background: white;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: none;
}

/* cardlist setting */
.card-list {
  width: 960px;
  position: absolute;
  left: 50%;
  margin-left: -480px;
}
.card-list-entry {
  float: left;
  border-radius: 30px;
  height: 570px;
  width: 300px;
  margin: 10px 10px 25px 10px;
  box-shadow: #bababa 0 0 15px;
}
.card-list-entry.codestates {
  background-image: url(./images/red.jpg);
}
.card-list-entry.fastcampus {
  background-image: url(./images/green.jpg);
}
.card-list-entry.vanillacoding {
  background-image: url(./images/yellow.jpg);
}
.add-card-div {
  float: left;
  border-radius: 30px;
  height: 570px;
  width: 300px;
  margin: 10px;
  box-shadow: #bababa 0 0 15px;
}
.add-card-div img {
  margin-top: 75%;
  padding: 25px;
  background-color: white;
  border-radius: 25px;
  box-shadow: #bababa 0 0 15px;
}

/* card setting */
ul.card {
  width: 270px;
  position: relative;
}
ul.card li {
  display: block;
  background: white;
  box-shadow: #bababa 0 0 15px;
  border-radius: 20px;
  margin: 10px 15px;
  width: 270px;
}
ul.card li:first-child {
  border-radius: 25px;
}
ul.card li p:first-child {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-left: 15px;
  margin-top: 15px;
  padding-top: 10px;
  margin-bottom: -5px;
}
ul.card li p:last-child {
  font-size: 18px;
  text-align: right;
  margin: 12px 15px 0 0;
  padding-bottom: 10px;
}
.bootcamp-name {
  font-size: 24px !important;
}
.card-title:first-child a {
  color: #6b5fd0;
  font-size: 14px;
  font-weight: 500;
  display: block;
  text-align: right;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: -18px;
}
.user-mail {
  font-size: 15px !important;
  margin-top: 20px !important;
  margin-right: 10px !important;
  padding-bottom: 10px !important;
}

/* cardWrite setting */
.add-card-plus {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  color: #bababa;
  font-size: 90px;
  line-height: 1;
  top: 50%;
  position: absolute;
  margin: -55px 0px 0px -45px;
}
.add-card-box.modal-open {
  position: relative;
}
.add-card-plus.modal-open {
  margin-left: -45px;
  margin-top: 240px;
}
.card-write-div {
  position: absolute;
  width: 960px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
}
.card-write ul {
  width: 300px;
  background-image: url(./images/purple.jpg);
  box-shadow: #bababa 0 0 15px;
  border-radius: 30px;
  padding: 15px 0 8px 0;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 330px;
  background-repeat: no-repeat;
}
.card-write ul {
  padding-top: 15px;
}
.card-write li {
  background-color: white;
  width: 280px;
  display: block;
  box-shadow: #bababa 0 0 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 5px;
}
.card-write li p {
  margin: 5px;
}
.card-write li input {
  margin-top: 10px;
}
.card-list li:last-child {
  box-shadow: none;
}

/* signup setting */
.signup-div {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  margin-top: 8%;
}
.signup-box li {
  width: 300px;
  display: block;
  box-shadow: #bababa 0 0 15px;
  border-radius: 25px;
  margin-bottom: 15px;
  height: 100%;
}
.signup-box li div:first-child {
  padding-top: 10px;
  margin-bottom: 12px;
}
.signup-box li div:last-child {
  color: rgb(218, 74, 74);
  width: 280px;
  margin-left: 10px;
}
.signup-box li div:first-child {
  padding-top: 10px;
  margin-bottom: 12px;
  text-align: left;
  padding-left: 20px;
  width: 100%;
}

/* login setting */
.login-div {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  margin-top: 8%;
}
.login-box li {
  width: 300px;
  display: block;
  box-shadow: #bababa 0 0 15px;
  border-radius: 25px;
  margin-bottom: 15px;
  height: 100%;
}
.login-box li div:first-child {
  padding-top: 10px;
  margin-bottom: 12px;
  text-align: left;
  padding-left: 20px;
  width: 100%;
}
.social-login-div {
  margin: 15px 0;
  color: #6b5fd0;
  background: white;
  border-radius: 15px;
  font-size: 18px;
  box-shadow: none;
  width: 100%;
  font-weight: 600;
  border-radius: 18px;
  height: 35px;
  box-shadow: #bababa 0 0 15px;
  padding-top: 15px;
}
.social-login-div a {
  text-decoration: none;
}
.find-div {
  margin-bottom: 25px;
}
.find-div button {
  width: 143px;
  margin-right: 14px;
}
.find-div button:last-child {
  margin-right: 0;
}
.go-to-signup-div button {
  color: #6b5fd0;
  border: none;
  background: white;
  border-radius: 15px;
  font-size: 18px;
  box-shadow: #bababa 0 0 15px;
  width: 100%;
  margin-top: 20px;
}

/* findId setting */
.findId-div {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  margin-top: 8%;
}
.findId-box li {
  width: 300px;
  display: block;
  box-shadow: #bababa 0 0 15px;
  border-radius: 25px;
  margin-bottom: 15px;
  height: 100%;
}
.findId-box li div:first-child {
  padding-top: 10px;
  margin-bottom: 12px;
}
